<div class="panel panel-default">
    <div class="panel-body">
        <p>Редактируйте настройки проекта</p>

        <form ng-submit="saveProject()">
            <div class="form-group">
                <label for="name">Название</label>
                <input ng-model="project.name" type="text" name="name" class="form-control" id="name" placeholder="Название">
            </div>

            <div class="form-group">
                <label for="description">Описание</label>
                <textarea ng-model="project.description" name="description" id="description" cols="30" rows="10" class="form-control"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>

        <button type="submit" class="btn btn-danger pull-right" delete-object="project" delete-success="projectDeleted()">Удалить</button>

    </div>
</div>